* {
  font-family: '{fontName}', sans-serif;
  color: {fontColor};
  font-size: {fontSize}px;
  font-weight: {fontWeight};
  text-align: {textAlign};
  text-shadow:
  -{strokeSize}px  -{strokeSize}px   0 #000,
   0               -{strokeSize}px  0 #000,
   {strokeSize}px  -{strokeSize}px  0 #000,
   {strokeSize}px  0                0 #000,
   {strokeSize}px  {strokeSize}px   0 #000,
   0               {strokeSize}px   0 #000,
  -{strokeSize}px  {strokeSize}px   0 #000,
  -{strokeSize}px  0                0 #000;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.image {
  height: 2.2em;
  margin: auto 15px auto 15px;
}

p {
  margin: 0;
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInOut {
  cursor: pointer;
  animation: fadeInOutAnimation 5s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
