* {
    font-family: '{fontName}', sans-serif;
    color: {fontColor};
    font-size: {fontSize}px;
    font-weight: {fontWeight};
    text-align: center;
    text-shadow:
    -{strokeSize}px  -{strokeSize}px   0 #000,
     0               -{strokeSize}px  0 #000,
     {strokeSize}px  -{strokeSize}px  0 #000,
     {strokeSize}px  0                0 #000,
     {strokeSize}px  {strokeSize}px   0 #000,
     0               {strokeSize}px   0 #000,
    -{strokeSize}px  {strokeSize}px   0 #000,
    -{strokeSize}px  0                0 #000;
  }

.container {
  width: 16rem;
  overflow: visible;
  margin: auto;
}

.timer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  width: 100%;
  min-width: 3em;
  text-transform: uppercase;
}

.colon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  width: 100%;
  text-transform: uppercase;
}

.time {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
}

.label {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.text {
  margin: 0 0.5em 0 0.5em;
}

.infoText {
  text-align: center;
  text-transform: uppercase;
}

.eventsText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.streamEventLabel {
  font-size: 0.75rem;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 4px;
}

.streamEventTime {
  color: {timeEventFontColor};
  background-color: {timeEventBackgroundColor};
  padding: 0 5px 0 5px;
  border: {strokeSize}px solid {strokeColor};
  border-radius: 5px;
  text-shadow: none;
}

/* A Basic Animation to flash in and out a element */
@keyframes flashInOutAnimation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.flashInOut {
  cursor: pointer;
  animation: flashInOutAnimation 0.5s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/* A Basic Animation to fade in and out a element */
@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInOut {
  cursor: pointer;
  animation: fadeInOutAnimation {animationDuration}s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}