* {
  font-family: '{fontName}', sans-serif;
  color: {fontColor};
  font-size: {fontSize}px;
  font-weight: {fontWeight};
  text-shadow:
  -{strokeSize}px  -{strokeSize}px   0 #000,
   0               -{strokeSize}px  0 #000,
   {strokeSize}px  -{strokeSize}px  0 #000,
   {strokeSize}px  0                0 #000,
   {strokeSize}px  {strokeSize}px   0 #000,
   0               {strokeSize}px   0 #000,
  -{strokeSize}px  {strokeSize}px   0 #000,
  -{strokeSize}px  0                0 #000;
}

.container {
  text-align: center;
  position: relative;
  padding: 16px;
  overflow: visible;
}

#goalBarBackground {
  position: relative;
  width: 100%;
  background-color: {{backgroundColor}};
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5),
  inset -2px -2px 4px rgba(0, 0, 0, 0.5),
  0 4px 16px 0 rgba(0, 0, 0, 0.5),
  0 4px 16px 0 rgba(0, 0, 0, 0.5);
}

#goalBarProgress {
  width: 1%;
  height: 1.5rem;
  background-color: {{barColor}};
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
  inset -2px -2px 4px rgba(0, 0, 0, 0.25) !important;
}

#goalText {
  padding: 10px;
  white-space: nowrap;
}

#goalBarText {
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}