@import url('https://fonts.googleapis.com/css2?family={fontName}:wght@{fontWeight}&display=swap');

* {
  font-family: '{fontName}', sans-serif;
  color: {{fontColor}};
    font-size: {{fontSize}}px;
  	font-weight: {{fontWeight}};
    overflow: hidden;
    -webkit-text-stroke: {{strokeSize}}px;
    -webkit-text-stroke-color: black;
  	text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

img {
  height: {{fontSize}}px;
  width: auto;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}