* {
  font-family: '{fontName}', sans-serif;
  color: {fontColor};
  font-size: {fontSize}px;
  font-weight: {fontWeight};
  text-align: {textAlign};
  text-shadow:
  -{strokeSize}px  -{strokeSize}px   0 #000,
   0               -{strokeSize}px  0 #000,
   {strokeSize}px  -{strokeSize}px  0 #000,
   {strokeSize}px  0                0 #000,
   {strokeSize}px  {strokeSize}px   0 #000,
   0               {strokeSize}px   0 #000,
  -{strokeSize}px  {strokeSize}px   0 #000,
  -{strokeSize}px  0                0 #000;
}

.main-container {
  overflow: visible;
}

img {
  height: {fontSize}px;
  width: auto;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}